$primary-color: #43a047;
$primary-dark: #00701a;
$primary-ligh:#76d275;
$primary-text: #ffffff;
$primary-text-light: #000000;

$secondary-color: #795548;
$secondary-dark: #4b2c20;
$secondary-ligh:#a98274;
$secondary-text: #ffffff;
$secondary-text-light: #ffffff;