$primary-color: #d32f2f;
$primary-dark: #9a0007;
$primary-ligh:#ff6659;
$primary-text: #ffffff;

$secondary-color: #795548;
$secondary-dark: #4b2c20;
$secondary-light: #a98274;
$secondary-text: #ffffff;