
.recipe_header{
	height: 350px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	overflow: hidden;
}
.recipe_header .overflow{
	background-color: rgba(0,0,0,0.6);
	height: 100%;
	width: 100%;
	position: absolute;	
	top: 0;
	left: 0;
	z-index: 1;
}
.recipe_title{
	font-size: 32px;
	background: transparent;
	position: absolute;
	width: 100%;
	bottom: 50px;
	left: 0;
	width: 100%;
	padding: 0 15px;
	z-index: 2;
	color: #fff;
}
.recipe_title::placeholder{
	color: #fff;
}
.text_characters{
	position: absolute;
	bottom: 125px;
	font-size: 12px;
	padding: 0 15px;
	color: #fff;
	z-index: 2;
}
.recipe_form{
	margin: 10px 0;
}
.recipe_form input{

}