// Variables
@import '_variables.scss';
@import '_shadows.scss';
@import '_fonts.scss';
@import 'animations.scss';
// Bootstrap
@import '~bootstrap/dist/css/bootstrap-grid.min.css';
// Elementos
@import 'cursor.scss';
@import 'text_pluggin.scss';
@import 'position_pluggin.scss';
@import 'forms.scss';
@import 'buttons.scss';


*{
	font-family: roboto, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}
[class*='col-']{
	padding: 0;
}

@import 'header.scss';
@import 'nav.scss';
@import 'content.scss';