header{
	height: 56px;
	width: 100%;
	position: fixed;
	top:0;
	left:0;
	background-color: $primary-color;
	display: flex;	
	align-items: center;
	vertical-align: middle;
	color: $primary-text;
	box-shadow: $dp1;
	z-index: 4;
}

header .logo{
	font-family: pacifico;
	font-size: 28px;
}